<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>เครื่องพิมพ์</h1>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div>
    <h1>ดาวน์โหลดโปรแกรมได้ที่ <a href="https://src.maxxgadget.com/app/maxxPrinter/">
        https://src.maxxgadget.com/app/maxxPrinter/ </a></h1>
  </div>

  <div>
    <h4> ทำการติดตั้งโปรแกรม </h4>


    <ng-container>
      <div style="padding: 10px;" class="row">
        <div class="col-sm-3">
          <img class="img-responsive" src="../../../assets/img/printer/1.jpg"
            (click)="util.openViewImage('../../../assets/img/printer/1.jpg')">
        </div>
        <div class="col-sm-9">
          <h4>1. ทำการโหลดโปรแกรม โดยที่ไปที่ URL ข้างต้นและกด ตัวที่ขีดเส้นใต้
          </h4>
        </div>
      </div>
      <hr>
    </ng-container>

    <ng-container>
      <div style="padding: 10px;" class="row">
        <div class="col-sm-3">
          <img class="img-responsive" src="../../../assets/img/printer/2.jpg"
            (click)="util.openViewImage('../../../assets/img/printer/2.jpg')">
        </div>
        <div class="col-sm-9">
          <h4>2. ถ้า Windows Protected ขึ้นมา ให้เลือก More Info
          </h4>
        </div>
      </div>
      <hr>
    </ng-container>

    <ng-container>
      <div style="padding: 10px;" class="row">
        <div class="col-sm-3">
          <img class="img-responsive" src="../../../assets/img/printer/3.jpg"
            (click)="util.openViewImage('../../../assets/img/printer/3.jpg')">
        </div>
        <div class="col-sm-9">
          <h4>3. จากนั้นให้กด Run anyway
          </h4>
        </div>
      </div>
      <hr>
    </ng-container>

    <ng-container>
      <div style="padding: 10px;" class="row">
        <div class="col-sm-3">
          <img class="img-responsive" src="../../../assets/img/printer/4.jpg"
            (click)="util.openViewImage('../../../assets/img/printer/4.jpg')">
        </div>
        <div class="col-sm-9">
          <h4>4. จะมายังหน้านี้ ให้กด Install
          </h4>
        </div>
      </div>
      <hr>
    </ng-container>

    <ng-container>
      <div style="padding: 10px;" class="row">
        <div class="col-sm-3">
          <img class="img-responsive" src="../../../assets/img/printer/5.jpg"
            (click)="util.openViewImage('../../../assets/img/printer/5.jpg')">
        </div>
        <div class="col-sm-9">
          <h4>5. รอให้โหลดโปรแกรมเสร็จ
          </h4>
        </div>
      </div>
      <hr>
    </ng-container>


    <ng-container>
      <div style="padding: 10px;" class="row">
        <div class="col-sm-3">
          <img class="img-responsive" src="../../../assets/img/printer/6.jpg"
            (click)="util.openViewImage('../../../assets/img/printer/6.jpg')">
        </div>
        <div class="col-sm-9">
          <h4>6. เมื่อโหลดโปรแกรมเสร็จจะได้รหัสเครื่องพิมพ์
          </h4>
        </div>
      </div>
      <hr>
    </ng-container>

    <ng-container>
      <div style="padding: 10px;" class="row">
        <div class="col-sm-3">
          <img class="img-responsive" src="../../../assets/img/printer/7.jpg"
            (click)="util.openViewImage('../../../assets/img/printer/7.jpg')">
        </div>
        <div class="col-sm-9">
          <h4>7. เข้ามายังหน้าเว็บแล้วเลือก ใช้สิทธิ์ผู้ดูแลระบบ แล้วไปที่ ตั้งค่า <br>
            จากนั้นเลือก ข้อมูลเกี่ยวกับระบบ
          </h4>
        </div>
      </div>
      <hr>
    </ng-container>

    <ng-container>
      <div style="padding: 10px;" class="row">
        <div class="col-sm-3">
          <img class="img-responsive" src="../../../assets/img/printer/8.jpg"
            (click)="util.openViewImage('../../../assets/img/printer/8.jpg')">
        </div>
        <div class="col-sm-9">
          <h4>8. ถ้าเคยเซ็ทเครื่องพิมพ์ไปแล้วจะมีตัวเลือกค้างไว้ (ถ้ายังไม่เคยจะไม่ขึ้นอะไร) ให้กดเข้าไปแดง ๆ ที่วงไว้
          </h4>
        </div>
      </div>
      <hr>
    </ng-container>

    <ng-container>
      <div style="padding: 10px;" class="row">
        <div class="col-sm-3">
          <img class="img-responsive" src="../../../assets/img/printer/9.jpg"
            (click)="util.openViewImage('../../../assets/img/printer/9.jpg')">
        </div>
        <div class="col-sm-9">
          <h4>9. ทำการกรอกรหัสให้ตรงกับรหัสเครื่องพิมพ์
          </h4>
        </div>
      </div>
      <hr>
    </ng-container>

    <ng-container>
      <div style="padding: 10px;" class="row">
        <div class="col-sm-3">
          <img class="img-responsive" src="../../../assets/img/printer/10.jpg"
            (click)="util.openViewImage('../../../assets/img/printer/10.jpg')">
        </div>
        <div class="col-sm-9">
          <h4>10. ถ้าใส่รหัสถูกจะมายังหน้านี้ ซึ่งจะเห็นว่า สามารถเลือกเครื่องพิมพ์ได้ <br>
            เลือกระยะห่างจากขอบได้
          </h4>
        </div>
      </div>
      <hr>
    </ng-container>

    <ng-container>
      <div style="padding: 10px;" class="row">
        <div class="col-sm-3">
          <img class="img-responsive" src="../../../assets/img/printer/11.jpg"
            (click)="util.openViewImage('../../../assets/img/printer/11.jpg')">
        </div>
        <div class="col-sm-9">
          <h4>11. เครื่องพิมพ์ที่แสดงในนี้ จะถูกดึงมาจากคอมเครื่องที่ลงโปรแกรม Maxx Printer
            และสามารถเลือกได้ว่าต้องการให้พิมพ์ออกเครื่องไหน
          </h4>
        </div>
      </div>
      <hr>
    </ng-container>

    <ng-container>
      <div style="padding: 10px;" class="row">
        <div class="col-sm-3">
          <img class="img-responsive" src="../../../assets/img/printer/12.jpg"
            (click)="util.openViewImage('../../../assets/img/printer/12.jpg')">
        </div>
        <div class="col-sm-9">
          <h4>12. เมื่อเลือกเครื่องพิมพ์และระยะขอบเสร็จแล้วให้กด บันทึกข้อมูล เพื่อบันทึกข้อมูลการเลือกเครื่องพิมพ์
          </h4>
        </div>
      </div>
      <hr>
    </ng-container>

    <ng-container>
      <div style="padding: 10px;" class="row">
        <div class="col-sm-3">
          <img class="img-responsive" src="../../../assets/img/printer/13.jpg"
            (click)="util.openViewImage('../../../assets/img/printer/13.jpg')">
        </div>
        <div class="col-sm-9">
          <h4>13. รหัสเครื่องพิมพ์จากโปรแกรม Maxx Printer จะเป็นรหัสที่พึ่งพิมพ์เข้าไป <br>
            และเครื่องพิมพ์จะกลายเป็นเครื่องพิมพ์ที่พึ่งเลือกไป <br>
            <p style="color: red;"> *** หลังจากนี้ เมื่อสั่งพิมพ์คำสั่งซื้อ จากรายการคำสั่งซื้อ <br>
              จะทำให้โปรแกรมเพิ่มคิวการพิมพ์ลงไปยังเครื่องพิมพ์เครื่องนั้น แล้วก็จะพิมพ์ออกมา
              <br>
              **** แต่กรณีที่คอมที่เปิดโปรแกรม Maxx Printer ปิดอยู่ ระบบจะยังไม่ทำการพิมพ์ออกมา
              แต่จะถูกเพิ่มไปยังคิวโปรแกรม <br>
              แต่เมื่อเปิดคอมเครื่องที่มี Maxx Printer เครื่องพิมพ์ก็จะพิมพ์คำสั่งซื้อนั้นออกมา
            </p>
          </h4>
        </div>
      </div>
      <hr>
    </ng-container>



  </div>


</section>
